<p id="notice"><%= notice %></p>

<% @articles.each do |article| %>
  <ul>
    <li class="article-link">
      <%= link_to article.title, article %>
      <span class="article-date">post: <%= article.created_at =%>, update:  <%= article.updated_at =%></span>
    </li>
  </ul>
<% end %>
