<div class="site-content">
  <div class="wrap">
    <p id="notice"><%= notice %></p>
    <ul class="articles">
      <% @articles.each do |article| %>
        <li class="article-link">
          <%= link_to article.title, article %>
          <span class="article-date">更新日:  <%= article.updated_at.to_s(:ymd) =%>, 作成日: <%= article.created_at.to_s(:ymd) =%></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
