<div class="site-content">
  <div class="wrap">
    <p id="notice"><%= notice %></p>

    <ul class="articles">
      <% @articles.each do |article| %>
        <li class="article-link">
          <%= link_to article.title, article %>
          <span class="article-date">post: <%= article.created_at =%>, update:  <%= article.updated_at =%></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
